<h1>Remove Book</h1>

<form asp-action="Remove"  >
    <div class="form-group">
        <label > Book Id</label>
        <input class="form-control" name="Id" />
    </div>
    <button type="submit" class="btn btn-primary">Remove</button>
</form>
